body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
}
.large {
  font-size: 60px;
  font-weight: 400;
}
.head-color {
  color: orange;
}
.head-para {
  color: #816969;
  font-size: 18px;
  line-height: 25px;
}
.flexible-sec {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.half-width img {
  width: 90%;
}
.link-button {
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(orange, tomato);
  text-decoration: none;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
/* dream ==================================================================== */
.dream {
  font-size: 50px;
  font-weight: 400;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
/* experience==================================================================== */
.extra {
  padding: 40px 40px;
  margin: 0px 40px;
  box-shadow: 15px 10px 30px grey;
  border-radius: 5px;
  margin-bottom: 160px;
}
.port {
  font-size: 40px;
  font-weight: 400;
}
.ex {
  margin-left: 40px;
}
.experience {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-stack {
  border-image: linear-gradient(purple, orange);
  border-left: 10px solid;
  border-image-slice: 1;
}
#baby-dev {
  border-image: linear-gradient(blue, cyan);
  border-left: 10px solid;
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
